{% extends "navbar.html" %} {% block content %}
<h1>Crypto Punk database!</h1>

<form action="" method="post" class="queryform">
    <div class="querybox">
        <label class="radio">Russia
            <input type="radio" checked="checked" name="radio" id="1" value="1" />
        </label>
        <label class="radio">Qatar
            <input type="radio" name="radio" id="2" value="2" />
        </label>
        <label class="radio">Both
            <input type="radio" name="radio" id="all" value="all" />
        </label>
    </div>
    <div class="querybox">
        <label class="radio">Trophies
            <input type="radio" checked="checked" name="radiosearch" id="trophies" value="trophies" />
        </label>
        <label class="radio">Wins
            <input type="radio" name="radiosearch" id="wins" value="wins" />
        </label>
        <label class="radio">Games played
            <input type="radio" name="radiosearch" id="played" value="played" />
        </label>
    </div>
    <div class="querybox">
        <input type="submit" id="button" value="Search" />
    </div>
</form>

{% endblock content %}