{% extends "navbar.html" %} {% block content %}
{% if content[0][2] != NULL %}
{% if content[0][2] == 1 %}
<h1>Russia World Cup:</h1>
{% else %}
<h1>Qatar World Cup:</h1>
{% endif %}
{% endif %}
<h1>World Cup Query of {{search}}!</h1>
<div class="cards">
    {%for i in range(0,length)%}
    <a href="/team/{{content[i][0]}}" class="no-underline">
        <div class="card">
            <div class="container">
                <h4><b> {{content[i][0]}}</b></h4>
                <p class="card-text">{{search}}: {{content[i][1]}}</p>
            </div>
            <img src="/static/flags/{{content[i][0]}}.png" alt="flag" class="image">
        </div>
    </a>
    {%endfor%}
</div>
{% endblock content %}